<!DOCTYPE html>
<html>
  <head>
    <title>Note</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <ul class="header_list">
        <li><%= link_to "新規", new_post_path %></li>
        <li><%= link_to "一覧", posts_path %></li>
      </ul>
    </header>
    <main>
      <div class="container">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
